[submodule "3rdparty/rocshmem"]
	path = 3rdparty/rocshmem
	url = https://github.com/ROCm/rocSHMEM.git
[submodule "3rdparty/triton"]
	path = 3rdparty/triton
	url = https://github.com/jhchouuu/triton.git
	branch = mori_shmem_support
[submodule "3rdparty/mori"]
	path = 3rdparty/mori
	url = https://github.com/ROCm/mori.git
	branch = jiahzhou/triton_dis_support
